/* Importando uma fonte que se assemelha ao estilo do League of Legends */
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

body {
    font-family: 'Uncial Antiqua', Arial, sans-serif; /* Fonte estilizada */
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste para altura total da viewport */
    margin: 0;
    overflow-x: hidden;
}

.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 800px;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Destaque maior */
    text-align: center; /* Centralizando o conteúdo interno */
}

h1 {
    text-align: center;
    color: #444;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}

.form {
    display: flex;
    justify-content: center; /* Centraliza o formulário horizontalmente */
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px 15px;
    font-family: "";
    background-color: #c69b6d; /* Cor inspirada no LoL */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #a8814c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 1rem;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
}

td button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 7px 12px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

td button:hover {
    background-color: #218838;
}

td button.delete {
    background-color: #dc3545;
}

td button.delete:hover {
    background-color: #c82333;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    animation: changeBackground 60s infinite;
}

@keyframes changeBackground {
    0% { background-image: url('Braum.jpg'); }
    20% { background-image: url('Braum Caçador de Dragões.jpg'); }
    40% { background-image: url('Braum Cidade do Crime.jpg'); }
    60% { background-image: url('Braum El Tigre.jpg'); }
    80% { background-image: url('Braum Glorioso.jpg'); }
    100% { background-image: url('Braum Noel.jpg'); }
}
